h1{
	text-align: center;
	font-size: 200%;
	margin-top: 10%;
}

.btn{
	margin-right: 2%;
	margin-top:10%;

}

.crystals{

    float: none;
    margin-left:25%;
}


.info{
	float: none;
    margin-left:25%;
    margin-top: 5%;
}

 body{

 	background: linear-gradient(-90deg, purple, lightblue);
 	font-family: 'Julius Sans One', sans-serif;
 	font-weight: bold;
 	font-size:200%;

 	}